#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
*_u.c
*_u.h
*_t.c
*_t.h

#output files
/build/
/linux/installer/bin/*.bin

# files downloaded in preparation phase
BSD-3-Clause.txt
Master_EULA_for_Intel_Sw_Development_Products.pdf
external/ippcp_internal/inc/ippcp.h
external/ippcp_internal/inc/ippcpdefs.h
external/ippcp_internal/inc/ippversion.h
external/ippcp_internal/inc/sgx_ippcp.h
external/ippcp_internal/inc/ippcp
external/ippcp_internal/license/
external/toolset/
psw/ae/data/prebuilt/README.md
redist.txt

# directory created when running reproducibility scripts
linux/reproducibility/code_dir/

