<EnclaveConfiguration>
  <IntelSigned>1</IntelSigned>
  <ProvisionKey>1</ProvisionKey>
  <LaunchKey>0</LaunchKey>
  <ProdID>0x1</ProdID>
  <ISVSVN>7</ISVSVN>
  <TCSNum>1</TCSNum>
  <TCSMinPool>0</TCSMinPool>
  <TCSPolicy>1</TCSPolicy>
  <StackMaxSize>0x5000</StackMaxSize>
  <HeapMaxSize>0x50000</HeapMaxSize>
  <HeapMinSize>0x50000</HeapMinSize>
  <DisableDebug>1</DisableDebug>
</EnclaveConfiguration>
