Source: libsgx-enclave-common
Section: libs
Priority: optional
Maintainer: <xiangquan.liu@intel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/intel/linux-sgx

Package: libsgx-urts
Architecture: amd64
Depends: libsgx-enclave-common (>= 2.5), ${shlibs:Depends}, ${misc:Depends}
Description: SGX uRTS
