Source: libsgx-enclave-common-dev
Section: libs
Priority: optional
Maintainer: <xiangquan.liu@intel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libsgx-enclave-common-dev.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libsgx-enclave-common-dev.git;a=summary

Package: libsgx-enclave-common-dev
Architecture: i386 ia64 amd64
Pre-Depends: libsgx-enclave-common
Depends: dpkg-dev, ${shlibs:Depends}, ${misc:Depends}
Description: SGX Enclave Common Loader For Developers
