Source: sgx-aesm-service
Section: utils
Priority: optional
Maintainer: <xiangquan.liu@intel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/intel/linux-sgx

Package: sgx-aesm-service
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intel(R) Software Guard Extensions AESM Service

Package: libsgx-aesm-launch-plugin
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, sgx-aesm-service(>= @dep_version@), libsgx-ae-le(>= @dep_version@)
Description: Launch Plugin for Intel(R) Software Guard Extensions AESM Service

Package: libsgx-ae-le
Architecture: amd64
Description: Intel(R) Software Guard Extensions LE

Package: libsgx-aesm-epid-plugin
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, sgx-aesm-service(>= @dep_version@), libsgx-ae-epid(>= @dep_version@), libsgx-aesm-pce-plugin(>= @dep_version@)
Description: EPID Quote Plugin for Intel(R) Software Guard Extensions AESM Service

Package: libsgx-ae-epid
Architecture: amd64
Description: Intel(R) Software Guard Extensions QE and PvE

Package: libsgx-aesm-quote-ex-plugin
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, sgx-aesm-service(>= @dep_version@), libsgx-aesm-ecdsa-plugin(>= @dep_version@)
Recommends: libsgx-aesm-epid-plugin(>= @dep_version@)
Description: Unified Quote Plugin for Intel(R) Software Guard Extensions AESM Service

Package: libsgx-aesm-ecdsa-plugin
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, sgx-aesm-service(>= @dep_version@), libsgx-qe3-logic(>= 1.11), libsgx-aesm-pce-plugin(>= @dep_version@)
Description: ECDSA Quote Plugin for Intel(R) Software Guard Extensions AESM Service

Package: libsgx-aesm-pce-plugin
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, sgx-aesm-service(>= @dep_version@), libsgx-pce-logic(>= 1.11), libsgx-ae-pce(>= @dep_version@)
Description: PCE Plugin for Intel(R) Software Guard Extensions AESM Service

Package: libsgx-ae-pce
Architecture: amd64
Description: Intel(R) Software Guard Extensions PCE

